/** @format */
.Video-conainer {
	display: flex;
	padding: 25px 96px;
	gap: 20px;
}
.left-s {
	flex: 5;
	flex-wrap: wrap;
}
.video-player {
	display: flex;
}
.text-container {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 0.5px solid #999;
}

.titles {
	display: flex;
	color: #fff;
	font-size: 20px;
}

.info-container {
	padding-top: 10px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.infos {
	font-size: 16px;
}
.icons {
	display: flex;
	gap: 15px;
	align-items: center;
}

.iconStyle {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 5px;
}

.owner-container {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.user-container {
	display: flex;
	gap: 20px;
}
/* .channel-image {
}
.user-info {
} */

.user-name {
	color: #fff;
	padding-bottom: 5px;
	font-weight: 500;
}

.btn-sub {
	color: #fff;
	background-color: #cc1a00;
	border: none;
	border-radius: 3px;
	outline: none;
	font-size: 18px;
	padding: 10px 20px;
	cursor: pointer;
}

.subscribers {
	color: #999;
	font-size: 12px;
}

.information {
	color: #fff;
	font-size: 14px;
	margin-left: 55px;
	padding-top: 20px;
	line-height: 25px;
}
.comments-container {
	color: #fff;
	padding-top: 2rem;
}
.right-s {
	flex: 2;
}
